.h1font {
    font-style: oblique;
}

.font2 {
    font-style: border;
    color:#7d0000
}

.content {
text-align:  center;
}

ul {
    text-align: center;
}

footer {
    padding: 5px;
    background-color: #7d0000;
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.footer-container {
        display: flex;
        align-items: center;
        margin: 0 auto;
        color: #fff;
        justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #7d0000;
    color: rgb(0, 0, 0);
    font-family:fantasy;
    letter-spacing: 5px;
}

body {
    background-color: black; 
    color: rgb(255, 255, 255);
}

.center {
    display: inline-block}
    ul {
    text-align: left;
    }

.pic {
    width: 120px;
}

.site {
    color: #000000;
}

.git {
    padding: 10px 15px;
    color: #000000;
}

.pre {
    display: inline-block;
    text-align: left;
}

.profile-photo {
    width: 200px;
    height: 250px;
    border-radius: 30%;
    object-fit: cover;
}

.nav-txt {
    display:flex;
    justify-content: right;
    padding: 5px;
    color: rgb(0, 0, 0);
    font-family:fantasy;
    letter-spacing: 5px;
}

.nav-link {
    display:flex;
    justify-content: center;
    padding: 0px 20px;
    color: rgb(0, 0, 0);
    font-family:fantasy;
    letter-spacing: 3px;
    text-decoration: none;
}
